<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@300&family=Sacramento&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/Styles.css">
    <link rel="icon" href="/static/favicon.ico">

        
        
    
</head>
<body class="bady">
    <h1 class="header1">My Contact Details</h1>
    <hr class="ruler" size="2" shade>
    <h3 class="header3">Personal Phone Number📱.</h3>
    <p>0591535137 / 0548530809</p>

    <h3 class="header3">Email Address📧.</h3>
    <p>Gabrielandoh998@gmail.com</p>

    <h3 class="header3">Postal Address📮.</h3>
    <p>P.O.BOX ML 634 <br>MALLAM, ACCRA</p>

    <hr  class="ruler"size="3" nonshade>

    

</html>